*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
    color: #FFF;
    text-decoration: none;
}


/* SCROLL BAR PERSONALIZADA QUE NÃO DEU CERTO */
html::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb{
    background: greenyellow;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #a9ea44;
}

body{
    background-color: #282828;
}

header{
    width: 100%;
    height: 100px;
    background-color: #202020;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacao{
    animation: textoPulando 900ms infinite normal 1s;
}

@keyframes textoPulando{
    from{
        line-height: 0px;
        margin-left: 0;
        font-size: medium;
        color: #FFF;
    } to{
        line-height: 60px;
        margin-left: 10px;
        font-size: x-large;
        color: #FCC40F;
    }
}

main{
    background-color: #282828;
    margin: 0 auto;
    width:85%;
}

.itens{
    width: 295px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #D9D9D9;
    padding: 2% 0;
    line-height: 2.5;
}

.itens li{
    list-style-type: none;
    display: inline-block;
}

.container{
    width: 100%;
    border-radius: 10px;
    background-color: #505050;
}


/* LINHAS DE CONTEÚDO */
.row-1, .row-2, .row-3{
    background-color: #505050;
    width: 90%;
    margin: 0 auto;
}

.card-1-title, .card-2-title, .card-3-title{
    font-weight: bolder;
}

/* CARD TIPO 1 */
.card-tipo-1{
    margin: 30px auto;
    background-color: #afafaf;
    border-radius: 9px;
    display: flex;
    padding: 80px;
    width: 90%;
}

.card-tipo-1:hover{
    background-color: #8c8c8c;
}

.card-1-img{
    max-width: 100%;
    max-height: 100%;
}

.card-1-textos{
    text-align: center;
    margin: 0 auto;
    margin: 0 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
}

.card-1-title{
    width: 100%;
    margin: 0 0 50px 0;
}


/* CARD TIPO 2 */
.row-2{
    display: flex;
}

.card-tipo-2{
    width: 45%;
    margin: 40px auto;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    background-color: #afafaf;
    max-height: 100%;
}

.card-tipo-2:hover{
    background-color: #8c8c8c;
}

.card-2-title{
    padding: 20px;
}


/* CARD TIPO 3 */
.row-3{
    display: flex;
}

.card-tipo-3{
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 9px;
    display: flex;
    flex-flow: column;
    background-color: #afafaf;
    max-height: 100%;
    text-align: center;
}

.card-tipo-3:hover{
    background-color: #8c8c8c;
}

.card-tipo-3 img{
    max-width: 100%;
    max-height: 100%;
}

.last-row{
    padding: 0 0 100px 0;
}

.card-4-texto{
    text-align: justify;
}

/* BOTÃO TO TOP */
.to-top{
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: #202020;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin: 1.7%;
}

.logo-joao{
    width: 200px;
    max-height: 100%;
}

footer img{
    width: 50px;
}
